.iphone-bottom-line {
  width: 35%;
  height: 0.25em;
  border-radius: 1.5em;
  background-color: #474747;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
