.settings-extern-container {
  padding: 1.25rem 1rem;
  .settings-intern-container {
    border: #2892ce 1px solid;
    border-radius: 5px;
    box-shadow: 0px 7px 5px -4px rgba($color: #000000, $alpha: 0.4);
    .settings-box-container {
      width: 100%;
      max-width: 500px;
      height: 550px;
      margin: 1.25rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .settings-input-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        .settings-input-label {
          font-weight: 600;
          font-size: 0.9em;
        }
        .settings-color-box {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          input {
            width: 50%;
            max-width: 200px;
            margin-top: 1px;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 1384px) {
//   // .settings-box-container {
//   //   height: 500px !important;
//   // }
// }

@media screen and (max-width: 1330px) {
  .settings-color-box {
    flex-direction: column !important;
    align-items: flex-start !important;
    input {
      width: 100% !important;
    }
  }
  // .settings-box-container {
  //   height: 535px !important;
  // }
}

// @media screen and (max-width: 1330px) {
//   .settings-input-label {
//     font-size: 0.73em !important;
//   }
// }

@media screen and (max-width: 976px) {
  .settings-extern-container {
    padding: 0 1rem !important;
    .settings-intern-container {
      border: none !important;
      box-shadow: none !important;
      .settings-box-container {
        height: 100% !important;
        .settings-color-box {
          flex-direction: row !important;
          align-items: center !important;
          justify-content: space-between !important;
          input {
            width: 50% !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .settings-input-label {
    font-size: 0.8em !important;
  }
}

@media screen and (max-width: 440px) {
  .settings-input-label {
    font-size: 0.6em !important;
  }
  .color-container {
    input {
      height: 20px !important;
    }
  }
}

@media screen and (max-width: 350px) {
  .settings-container {
    display: flex;
    flex-direction: column;
    .settings-input-box {
      padding: 2px 12px;
    }
  }
}
