.page-settings-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  .page-settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #e9e9e9, $alpha: 0.9);
    padding: 10px;
    border-radius: 8px;
    min-height: 200px;
    min-width: 400px;
    color: black;
    margin: 10px;
    .option-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .zoom-options-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 10px;
        p {
          font-weight: bold;
          margin: 0 !important;
        }
        .observation-text{
          font-weight: 400;
          font-style: italic;
          color: red;
          font-size: 0.9em;
        }
      }
      p {
        font-weight: bold;
        margin: 5px 10px;
      }
      .option-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 5px 10px;
        label {
          input {
            margin-right: 5px;
          }
        }
        .input-number-container {
          width: 100%;
          align-self: center;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          input {
            width: 15%;
            text-align: center;
            padding-left: 8px;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            border-radius: 8px;
            margin-left: 5px;
            margin-right: 2px;
          }
        }
        .input-number-disabled{
          opacity: 0.4 !important;
        }
      }
    }
    .btn-container {
      width: 100%;
      display: flex;
      justify-content: center;
      .page-settings-confirm-btn {
        background-color: green !important;
        margin: 10px !important;
        &:hover {
          filter: brightness(90%);
        }
      }
      .page-settings-cancel-btn {
        background-color: red !important;
        margin: 10px !important;
        &:hover {
          filter: brightness(90%);
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .page-settings-container {
    min-height: 0px !important;
    min-width: 0px !important;
  }
}
