.page-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-container {
  max-width: 2560px;
  margin: auto;
}

@media screen and (max-width: 976px) {
  .home-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
