.image-visualization-container {
  margin: 1.25rem 0;

  // margin: calc(1553px * -0.15);
  // calc(((90vw - 320px) * 3.15) * -0.37);

  .pre-visualization-text {
    font-weight: bold;
    padding-left: 0.5em;
    text-align: center;
  }

  .screens-container {
    display: flex;
    justify-content: start;
    overflow-x: auto;
    margin: calc(900px * -0.26);
    transform: scale(0.5);
  }
}

@media screen and (max-width: 1330px) {
  .screens-container {
    justify-content: start !important;
  }
  .pre-visualization-text {
    text-align: start !important;
  }
}

@media screen and (max-width: 976px) {
  .image-visualization-container {
    margin: 0 0 !important;
  }
  .screens-container {
    justify-content: center !important;
  }
  .pre-visualization-text {
    text-align: center !important;
  }
}

@media screen and (max-width: 555px) {
  .screens-container {
    justify-content: start !important;
  }
  .pre-visualization-text {
    text-align: start !important;
  }
}
