.image-visualization-container {
  margin: 1.25rem 0;

  .pre-visualization-text {
    font-weight: bold;
    padding-left: 0.5em;
    text-align: center;
  }

  .screens-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
  }
}

@media screen and (max-width: 1330px) {
  .screens-container {
    justify-content: start !important;
  }
  .pre-visualization-text {
    text-align: start !important;
  }
}

@media screen and (max-width: 976px) {
  .image-visualization-container {
    margin: 0 0 !important;
  }
  .screens-container {
    justify-content: center !important;
  }
  .pre-visualization-text {
    text-align: center !important;
  }
}

@media screen and (max-width: 555px) {
  .screens-container {
    justify-content: start !important;
  }
  .pre-visualization-text {
    text-align: start !important;
  }
}
