.settings-container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  .settings-input-box {
    padding: 12px;
    display: flex;
    flex-direction: column;
    .settings-input-label {
      font-weight: 600;
    }
  }

  .color-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      width: 15%;
      margin-top: 1px;
    }
  }
}

@media screen and (max-width: 540px) {
  .settings-input-label {
    font-size: 0.8em !important;
  }
}

@media screen and (max-width: 440px) {
  .settings-input-label {
    font-size: 0.6em !important;
  }
  .color-container {
    input {
      height: 20px !important;
    }
  }
}

@media screen and (max-width: 350px) {
  .settings-container {
    display: flex;
    flex-direction: column;
    .settings-input-box {
      padding: 2px 12px;
    }
  }

}

