.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-1);
  padding: 1.25rem;
  // position: sticky;
  // top: 0px;
  // width: 100%;

  .header-left-container {
    background-color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 0.125rem;
    p {
      color: var(--blue-2);
      font-weight: bold;
      font-size: 18px;
    }
  }

  .header-right-container {
    display: flex;

    .icon-container {
      background-color: #ffffff;
      padding: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      margin-right: 1rem;
      &:hover {
        filter: brightness(90%);
      }
    }

    .geradorDePrints-icon-container {
      background: rgb(255, 94, 99);
      background: linear-gradient(
        139deg,
        rgba(255, 94, 99, 1) 0%,
        rgba(246, 138, 141, 1) 100%
      );
      padding: 10px 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      margin-right: 1rem;
      &:hover {
        filter: brightness(90%);
      }

      p {
        font-weight: bold;
        // font-size: 1.4em;
        color: #ffffff;
        text-decoration: none;
      }
    }

    .applaunchpad-icon-container {
      background: rgb(255, 94, 99);
      background: linear-gradient(
        139deg,
        rgba(255, 94, 99, 1) 0%,
        rgba(246, 138, 141, 1) 100%
      );
      padding: 10px 15px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      // margin-left: 1rem;
      &:hover {
        filter: brightness(90%);
      }

      p {
        font-weight: bold;
        // font-size: 1.4em;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 565px) {
  .header-container {
    flex-direction: column;
    padding: 1rem;
    .header-left-container {
      margin-bottom: 5px;
    }
  }
}

@media screen and (max-width: 333px) {
  .header-left-container {
    p {
      font-size: 12px !important;
    }
  }
  .header-right-container {
    .icon-container {
      padding: 5px !important;
    }
    .geradorDePrints-icon-container {
      padding: 5px 5px !important;
      p {
        font-size: 0.8em;
      }
    }

    .applaunchpad-icon-container {
      padding: 5px 9px !important;
      p {
        font-size: 0.8em;
      }
    }
  }
}

@media screen and (max-width: 244px) {
  .header-left-container {
    p {
      font-size: 8px !important;
    }
  }
  .header-right-container {
    .icon-container {
      padding: 3px !important;
    }
    .geradorDePrints-icon-container {
      padding: 2.65px 3px !important;
      // p {
      //   font-size: 1.0em;
      // }
    }

    .applaunchpad-icon-container {
      padding: 2.65px 7px !important;
      // p {
        // font-size: 1.4em;
      // }
    }
  }
}