.screen-login-container {
  margin: 1.25rem 0.5rem;
  position: relative;
  width: 500px;
  // font-size: 16px;
  // transform: scale(0.5);
  .fundo-app-box {
    left: 0;
    right: 0;
    z-index: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: opacity(var(--fundo-app-opacity));
    -webkit-filter: opacity(var(--fundo-app-opacity));
    -moz-filter: opacity(var(--fundo-app-opacity));
    -o-filter: opacity(var(--fundo-app-opacity));
    -ms-filter: opacity(var(--fundo-app-opacity));
    .fundo-app-preview {
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .screen-container {
    position: relative;
    border: 0.5px dashed black;
    height: 900px;
    width: 500px;
    // transform: scale(0.5);
    backdrop-filter: blur(var(--fundo-app-blur));
    -webkit-backdrop-filter: blur(var(--fundo-app-blur));
    -moz-backdrop-filter: blur(var(--fundo-app-blur));
    -o-backdrop-filter: blur(var(--fundo-app-blur));
    -ms-backdrop-filter: blur(var(--fundo-app-blur));

    .logo-app-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 450px;
      height: 250px;
      margin: 7% auto;
      transform: scale(0.8);
      // background-color: red;
      .logo-app-preview{
        overflow: hidden;
        // background-color: blue;
      }
    }

    // .logo {
    //   background-color: red;
    //   width: 450px;
    //   height: 250px;
    //   margin: 10% auto;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   .logo-app-box {
    //     // position: relative;
    //     // display: flex;
    //     // justify-content: center;
    //     // align-items: center;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 100%;
    //     height: 100%;
    //     // margin: 10% auto;
    //     background-color: gray;
    //     .logo-app-preview {
    //       overflow: hidden;
    //       background-color: blue;
    //     }
    //   }
    // }

    .center-box {
      width: 80%;
      margin: auto;

      .login-box {
        background-color: rgba($color: #ffffffff, $alpha: var(--boxes-opacity));
        border-radius: 9.24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28.8px;

        .input {
          background-color: rgba($color: #ffffffff, $alpha: 0.7);
          width: 100%;
          border: 2.24px solid #d3d3d3;
          border-radius: 6.6px;
          height: 66px;
          padding: 13.32px 0px;
          margin-bottom: 14.4px;
          .input-label {
            font-size: 18.48px;
            font-weight: 500;
            text-align: center;
          }
          .input-content {
            border-left: 2.24px solid #d3d3d3;
            height: 100%;
            width: 100%;
          }
        }
        .checkbox {
          align-self: flex-start;
          display: flex;
          align-items: center;
          .checkbox-square {
            border: 2px solid var(--btn-bg-color);
            border-radius: 6.6px;
            width: 26.4px;
            height: 26.4px;
            display: inline-block;
            margin-right: 13.2px;
          }
          .checkbox-text {
            font-weight: 500;
            font-size: 18.48px;
          }
        }
        .button {
          margin-top: 29px;
          width: 100%;
          height: 66px;
          background-color: var(--btn-bg-color);
          border-radius: 10.56px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 40%);
          font-size: 1.32em;
          font-weight: 600;
          .button-text {
            color: var(--btn-text-color);
          }
        }
      }

      .forgot-password-box {
        margin-top: 13.2px;
        background-color: rgba($color: #ffffffff, $alpha: 1);
        opacity: var(--boxes-opacity);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9.24px;
        padding: 15.6px;
        box-sizing: border-box;
        font-size: 1.32em;
      }
    }

    .credits-container {
      padding-bottom: 9%;
      padding-top: 9%;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      .text-container {
        width: 100%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
          color: #030303;
          opacity: 0.7;
          font-size: 17.16px;
          font-weight: 500;
        }
      }
    }
  }
}
