.screen-menu-aberto-container {
  margin: 1.25rem 0.5rem;
  width: 500px;
  // transform: scale(0.5);
  // font-size: 16px;
  .screen-container {
    position: relative;
    border: 1px dashed black;
    height: 900px;
    width: 500px;
    // transform: scale(0.5);
    .menu-container {
      width: 100%;
      position: relative;
      box-shadow: 11px 0px 10px -5px #00000040;

      .menu-header-container {
        position: relative;

        .fundo-menu-container {
          left: 0;
          right: 0;
          z-index: 0;
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          // background-color: green;
          .fundo-menu-box {
            width: 400px;
            height: 200px;
            transform: scaleX(1.29) scaleY(1.29);
            margin-left: calc(500px * -0.029);
            margin-top: calc(900px * 0.032);
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // background-color: red;
            filter: opacity(var(--fundo-menu-opacity));
            -webkit-filter: opacity(var(--fundo-menu-opacity));
            -moz-filter: opacity(var(--fundo-menu-opacity));
            -o-filter: opacity(var(--fundo-menu-opacity));
            -ms-filter: opacity(var(--fundo-menu-opacity));
            .fundo-menu-preview {
              overflow: hidden;
              // background-color: blue;
            }
          }
        }

        .menu-header-content {
          position: relative;
          padding: 13.2px;
          backdrop-filter: blur(var(--fundo-menu-blur));
          .time {
            padding: 13.2px;
            font-weight: 700;
            font-size: 18.48px;
          }
          .user-photo-container {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 13.2px 0px;
            img {
              width: 118.8px;
              border-radius: 50%;
              box-shadow: 0px 2px 5px 2px #00000020;
            }
          }

          .user-name-container {
            width: 100%;
            background-color: rgba($color: #ffffffff, $alpha: 0.9);
            padding: 10.56px 0px;
            text-align: center;
            margin: 6.6px 0px;
            border-radius: 5.28px;
            box-shadow: 0px 1.5px 3.5px 1.5px #00000020;
            span {
              font-weight: 700;
              font-size: 21.12px;
            }
          }
        }
      }
    }

    .menu-items-container {
      padding: 6.6px;
      .selected-item {
        background-color: #fef2f2;
      }
      .item-container {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10.56px;
        border-radius: 6.6px;
        margin: 6.6px 0px;
      }
      .icon-container {
        .icon {
          color: #747474;
        }
      }
      span {
        margin-left: 20px;
        font-size: 15.84px;
      }
      .selected-item {
      }
    }

    .outside-container {
      width: 100%;
      .notification-bar {
        padding-right: 13.2px;
        display: flex;
        justify-content: end;
        align-items: center;
        .icon {
          margin-left: 6.6px;
        }
        span {
          color: #747474;
          font-size: 1.4em;
          opacity: 0.5;
        }
      }
      .app-header {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 10.56px 13.2px;
        box-shadow: 0px 5px 6px #00000020;
        .img-container {
          border: 1.32px solid rgba($color: #dfdfdf, $alpha: 1);
          border-radius: 50%;
          /* offset-x (positive: rigth; negative: left) | offset-y (positive: bootom; negative: top) | blur-radius | spread-radius | color */
          box-shadow: 0px 5px 7px -2px #00000040;
          background: #ffffff;
          background: linear-gradient(
            139deg,
            rgba($color: #ffffff, $alpha: 1) 0%,
            rgba($color: #dfdfdf, $alpha: 1) 100%
          );
          overflow: hidden;
          // img {
          //   width: 2.3em;
          //   border-radius: 50%;
          // }
          .logo-cab-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130px;
            height: 130px;
            transform: scale(0.39);
            margin: calc(130px * -0.3);
            overflow: auto;
            // background-color: red;
            .logo-cab-preview {
              overflow: hidden;
              // background-color: blue;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
    .screen-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // width: 100%;
      border-top: 2.4px solid rgba($color: #cdcdcd, $alpha: 0.2);
      padding: 4px;
      .footer-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .items-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            font-size: 1em;
            color: #747474;
            font-weight: 500;
          }
        }
      }
      .footer-bottom {
      }
    }
  }
}
