.screen-menu-aberto-container {
  margin: 1.25rem 0.5rem;
  width: 250px;
  // font-size: 16px;
  .screen-container {
    position: relative;
    border: 0.5px dashed black;
    height: 450px;
    width: 250px;
    .menu-container {
      width: 100%;
      position: relative;
      box-shadow: 11px 0px 10px -5px #00000040;

      .menu-header-container {
        position: relative;

        // .menu-header-background-image {
        //   left: 0;
        //   right: 0;
        //   z-index: 0;
        //   display: block;
        //   position: absolute;
        //   width: 100%;
        //   height: 100%;
        //   -webkit-filter: blur(3px);
        //   -moz-filter: blur(3px);
        //   -o-filter: blur(3px);
        //   -ms-filter: blur(3px);
        //   filter: blur(var(--fundo-menu-blur))
        //     opacity(var(--fundo-menu-opacity));
        //   background-size: cover;
        //   background-repeat: no-repeat;
        //   background-position: center;
        // }

        .fundo-menu-box {
          left: 0;
          right: 0;
          z-index: 0;
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          filter: blur(var(--fundo-menu-blur)) opacity(var(--fundo-menu-opacity));
          -webkit-filter: blur(var(--fundo-menu-blur)) opacity(var(--fundo-menu-opacity));
          -moz-filter: blur(var(--fundo-menu-blur)) opacity(var(--fundo-menu-opacity));
          -o-filter: blur(var(--fundo-menu-blur)) opacity(var(--fundo-menu-opacity));
          -ms-filter: blur(var(--fundo-menu-blur)) opacity(var(--fundo-menu-opacity));
          .fundo-menu-preview {
            overflow: hidden;
          }
        }

        .menu-header-content {
          position: relative;
          padding: 6.6px;
          .time {
            padding: 6.6px;
            font-weight: 700;
            font-size: 9.24px;
          }
          .user-photo-container {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 6.6px 0px;
            img {
              width: 59.4px;
              border-radius: 50%;
              box-shadow: 0px 2px 5px 2px #00000020;
            }
          }

          .user-name-container {
            width: 100%;
            background-color: rgba($color: #ffffffff, $alpha: 0.9);
            padding: 5.28px 0px;
            text-align: center;
            margin: 3.3px 0px;
            border-radius: 2.64px;
            box-shadow: 0px 1.5px 3.5px 1.5px #00000020;
            span {
              font-weight: 700;
              font-size: 10.56px;
            }
          }
        }
      }
    }

    .menu-items-container {
      padding: 3.3px;
      .selected-item {
        background-color: #fef2f2;
      }
      .item-container {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5.28px;
        border-radius: 3.3px;
        margin: 3.3px 0px;
      }
      .icon-container {
        .icon {
          color: #747474;
        }
      }
      span {
        margin-left: 10px;
        font-size: 7.92px;
      }
      .selected-item {
      }
    }

    .outside-container {
      width: 100%;
      .notification-bar {
        padding-right: 6.6px;
        display: flex;
        justify-content: end;
        align-items: center;
        .icon {
          margin-left: 3.3px;
        }
        span {
          color: #747474;
          font-size: 0.7em;
          opacity: 0.5;
        }
      }
      .app-header {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 5.28px 6.6px;
        box-shadow: 0px 5px 6px #00000020;
        .img-container {
          border: 0.66px solid rgba($color: #dfdfdf, $alpha: 1);
          border-radius: 50%;
          /* offset-x (positive: rigth; negative: left) | offset-y (positive: bootom; negative: top) | blur-radius | spread-radius | color */
          box-shadow: 0px 5px 7px -2px #00000040;
          background: #ffffff;
          background: linear-gradient(
            139deg,
            rgba($color: #ffffff, $alpha: 1) 0%,
            rgba($color: #dfdfdf, $alpha: 1) 100%
          );
          overflow: hidden;
          // img {
          //   width: 2.3em;
          //   border-radius: 50%;
          // }
          .logo-cab-box {
            width: 1.6em;
            height: 1.6em;
            .logo-cab-preview{
              overflow: hidden;
            }
          }
        }
      }
    }
    .screen-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // width: 100%;
      border-top: 1.2px solid rgba($color: #cdcdcd, $alpha: 0.2);
      padding: 2px;
      .footer-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .items-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            font-size: 0.5em;
            color: #747474;
            font-weight: 500;
          }
        }
      }
      .footer-bottom {
      }
    }
  }
}
