.image-visualization-container {
  margin: 1.25rem 0;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // width: 100%;

  p {
    font-weight: bold;
  }

  .screens-container {
    display: flex;
    justify-content: center;
    // max-width: 750px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 1650px) {

    .screens-container {
      justify-content:start !important;
    }

}
