.image-visualization-container {
  margin: 1.25rem 0;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // width: 100%;

  .pre-visualization-text {
    font-weight: bold;
    padding-left: 1em;
    text-align: center;
  }

  .screens-container {
    display: flex;
    justify-content: center;
    // padding-left: 200px;
    // max-width: 750px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 1650px) {
  .screens-container {
    justify-content: start !important;
  }
  .pre-visualization-text {
    text-align: start !important;
  }
}

@media screen and (max-width: 1024px) {
  .screens-container {
    justify-content: center !important;
  }
  .pre-visualization-text {
    text-align: center !important;
  }
}

@media screen and (max-width: 800px) {
  .screens-container {
    justify-content: start !important;
  }
  .pre-visualization-text {
    text-align: start !important;
  }
}
