.image-visualization-container{

  margin: 1.25rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    font-weight: bold;
  }

  .screens-container{
    display: flex;
    justify-content: start;
  }

}


