*,
*::after,
*::before{
  margin: 0;
  padding: 0;
}

.btn{
  width: 200px;
}

.btn-upload {
  background-color: #1fb6ff  !important;
  margin-bottom: 10px !important;
  &:hover {
    filter: brightness(90%);
  }
}
.btn-download {
  background-color: orange !important;
  margin-top: 10px !important;
  &:hover {
    filter: brightness(90%);
  }
}

.btn-cut {
  background-color: purple !important;
  margin-top: 10px !important;
  &:hover {
    filter: brightness(90%);
  }
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2892CE;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
}

// .container-cropper{
//   height: 90%;
//   padding: 10px;
//   display: flex;
//   justify-content: center;
// }

// .cropper{
//   height: 90%;
//   // position: fixed;
// }
// .slider{
//   height: 10%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 60%;
// }

.box {
  // display: inline-block;
  padding: 10px;
  width: 100%;
  background-color: blue;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.img-preview {
  overflow: hidden;
}




