.tab-extern-container {
  border: 1px solid var(--blue-2);
  border-radius: 10px;
  box-shadow: 0px 7px 5px -4px rgba($color: #000000, $alpha: 0.4);
  .tab-intern-container {
    // min-height: 495px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // border: 1px solid var(--blue-2);
    min-height: 550px !important;
    max-height: 550px !important;
    max-width: 750px;
    margin: auto;
    padding: 20px 20px;
    text-align: center;
    .cropper{
      margin: auto;
      // box-sizing: border-box;
      // resize: horizontal;
    }
    .zoom-slider{
      width: 280px;
      margin: auto;
    }
    .tab-first-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    input[type="file"] {
      display: none;
    }
    p {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    h1 {
      margin: 0.5rem 0;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1330px) {
  .tab-first-box {
    flex-direction: column !important;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 976px) {
  .tab-extern-container{
    box-shadow: none !important;
    padding: 0 0 !important;
  }
  .tab-intern-container {
    height: 100% !important;
  } 
}

@media screen and (max-width: 550px) {
  .tab-first-box {
    flex-direction: column !important;
  }
  .tab-intern-container{
    padding: 20px 20px !important;
  }
}


@media screen and (max-width: 380px) {
  .tab-intern-container{
    padding: 10px 0 !important;
  }
  .zoom-slider{
    width: 80% !important;
  }
}



