.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--blue-2);
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  .btn {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    width: 30%;
    max-width: 225px;
    align-items: stretch;
    font-size: 17px;
    border-radius: 7px;
    .icon-container {
      width: 20%;
      padding: 0.6em 0;
      // height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.09);
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      .icon {
        width: 1.4em;
      }
    }
    .text-container {
      padding: 0.6em 0.4em;
      width: 80%;
      // height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      line-break: strict;
      span {
        font-size: 1em;
      }
    }
    &:hover {
      filter: brightness(90%);
      cursor: pointer;
    }
  }
  .btn-upload {
    background-color: var(--blue-2);
  }
  .btn-download {
    background-color: var(--orange-1) !important;
  }
  .btn-visualize {
    background-color: purple !important;
    margin-top: 10px !important;
    &:hover {
      filter: brightness(90%);
    }
  }
  // .btn-download {
  //   background-color: var(--orange-1) !important;
  //   margin-top: 10px !important;
  //   &:hover {
  //     filter: brightness(90%);
  //   }
  // }
  input[type="file"] {
    display: none;
  }
  p {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  h1 {
    margin: 0.5rem 0;
    font-weight: bold;
  }
}

.box {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  .fundo-app-preview {
    overflow: hidden;
  }
  .fundo-menu-preview {
    overflow: hidden;
  }
  .logo-app-preview {
    overflow: hidden;
  }
  .logo-cab-preview {
    overflow: hidden;
  }
}

@media screen and (max-width: 483px) {
  .tab-container {
    .btn {
      width: 50%;
    }
  }
}

@media screen and (max-width: 241px) {
  .tab-container {
    .btn {
      width: 60%;
    }
  }
}

// @media screen and (max-width: 480px) {
//   .tab-container {
//     .btn-download {
//       padding: 5px !important;
//       font-size: 0.7em !important;
//     }
//     .btn-visualize {
//       padding: 5px !important;
//       font-size: 0.7em !important;
//     }
//     .btn-upload {
//       max-width: 112, 5px;
//       font-size: 14px;
//       // height: 24px;
//     }
//     h1 {
//       font-size: 0.7em !important;
//     }
//     p {
//       font-size: 0.7em !important;
//     }
//   }
// }

// @media screen and (max-width: 435px) {
//   .tab {
//     font-size: 10px !important;
//   }
//   .toast {
//     // min-width: 25vw;
//     width: 100vw;
//     font-size: 3vw;
//     // margin: auto !important;
//   }
// }
