.tab-extern-container {
  border: 1px solid var(--blue-2);
  border-radius: 10px;
  .tab-intern-container {
    height: 495px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // border: 1px solid var(--blue-2);
    max-width: 750px;
    margin: auto;
    padding: 10px 20px;
    text-align: center;
    .cropper{
      margin: auto;
      // box-sizing: border-box;
      // resize: horizontal;
    }
    .zoom-slider{
      width: 100%;
    }
    .tab-first-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    input[type="file"] {
      display: none;
    }
    p {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    h1 {
      margin: 0.5rem 0;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 976px) {
  .tab-intern-container {
    height: 100% !important;
  } 
}

@media screen and (max-width: 550px) {
  .tab-first-box {
    flex-direction: column-reverse !important;
  }
}


@media screen and (max-width: 380px) {
  .tab-intern-container{
    padding: 10px 0 !important;
  }
}



