@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
  width: 1.8vh;
  height: 1.8vh;
}

*::-webkit-scrollbar-track {
  background: #F1F1F1;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue-2);
  border-radius: 10px;
  border: 0.3vmin solid #F1F1F1;
}

::-webkit-scrollbar-button {
  display: block;
  background-color: #F1F1F1;
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar-button:vertical:start:increment {
  display: none;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url('./assets/svgComponents/arrowUp.svg');
  background-size: 50%;
}

::-webkit-scrollbar-button:vertical:start:decrement:hover {
  background-image: url('./assets/svgComponents/arrowUpHover.svg');
  background-size: 50%;
  background-color: var(--blue-2);
}

::-webkit-scrollbar-button:vertical:start:decrement:active {
  background-image: url('./assets/svgComponents/arrowUp.svg');
  background-size: 50%;
  background-color: var(--blue-4);
}

::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url('./assets/svgComponents/arrowDown.svg');
  background-size: 50%;
}

::-webkit-scrollbar-button:vertical:end:increment:hover {
  background-image: url('./assets/svgComponents/arrowDownHover.svg');
  background-size: 50%;
  background-color: var(--blue-2);
}

::-webkit-scrollbar-button:vertical:end:increment:active {
  background-image: url('./assets/svgComponents/arrowDownHover.svg');
  background-size: 50%;
  background-color: var(--blue-4);
}

::-webkit-scrollbar-button:horizontal:start:increment {
  display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}
/* 
::-webkit-scrollbar-button:horizontal:start:increment {
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background-image: url('./assets/svgComponents/arrowRight.svg');
  background-size: 38%;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background-image: url('./assets/svgComponents/arrowLeft.svg');
  background-size: 38%;
}

::-webkit-scrollbar-button:horizontal:start:decrement:hover {
  background-image: url('./assets/svgComponents/arrowLeftHover.svg');
  background-size: 38%;
  background-color: var(--blue-2);
}

::-webkit-scrollbar-button:horizontal:start:decrement:active {
  background-image: url('./assets/svgComponents/arrowLeftHover.svg');
  background-size: 38%;
  background-color: var(--blue-4);
}

::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background-image: url('./assets/svgComponents/arrowRight.svg');
  background-size: 38%;
}

::-webkit-scrollbar-button:horizontal:end:increment:hover {
  background-image: url('./assets/svgComponents/arrowRightHover.svg');
  background-size: 38%;
  background-color: var(--blue-2);
}

::-webkit-scrollbar-button:horizontal:end:increment:active {
  background-image: url('./assets/svgComponents/arrowRightHover.svg');
  background-size: 38%;
  background-color: var(--blue-4);
} */

:root {
  --blue-1: #2B7ECB;
  --blue-2: #2892CE;
  --blue-3: #0B608F;
  --blue-4: #074a6d;
  --orange-1: #CE7828;
  --gray-1: #E9E9E9;
  --gray-2: #D9D9D9;

  --btn-text-color: #FFFFFE;
  --btn-bg-color: #ed3237;
  --boxes-opacity: 60%;
  --fundo-app-opacity: 80%;
  --fundo-app-blur: 2px;
  --fundo-menu-opacity: 80%;
  --fundo-menu-blur: 2px;
}