@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}

/* 
//Y X 
*/

:root {

  --blue-1:#2B7ECB;
  --blue-2: #2892CE;
  --blue-3: #0B608F;
  --orange-1: #CE7828;
  --gray-1: #E9E9E9;
  --gray-2: #D9D9D9;

  --btn-text-color: #FFFFFE;
  --btn-bg-color: #ed3237;
  --boxes-opacity: 60%;
  --fundo-app-opacity: 80%;
  --fundo-app-blur: 2px;
  --fundo-menu-opacity: 80%;
  --fundo-menu-blur: 2px;
}