.btn-upload {
  background-color: #1fb6ff  !important;
  margin-bottom: 10px !important;
  &:hover {
    filter: brightness(90%);
  }
}
.btn-download {
  background-color: orange !important;
  margin-top: 10px !important;
  &:hover {
    filter: brightness(90%);
  }
}

.btn-visualize {
  background-color: purple !important;
  margin-top: 10px !important;
  &:hover {
    filter: brightness(90%);
  }
}

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2892CE;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
}

.box {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.img-preview {
  overflow: hidden;
}