.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}

.image-editor-container {
  .tabs-container {
    //Top Right Bottom Left
    margin: 1.25em 1em 0em 1em;

    .tab-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .tab {
        background-color: #d9d9d9;
        color: black;
        padding: 8px 16px;
        margin: 0px 2px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
      }

      .tab:hover {
        filter: brightness(90%);
      }

      .selected-tab {
        background-color: #2892ce;
        color: white;
        // font-size: 16px;
      }
    }

    .tab-panel {
      border: #2892ce 1px solid;
      border-radius: 5px;
    }
  }
  .btn-download-zip-container {
    width: 100%;
    margin: 1em 0;
    padding: 0 1em;
    display: flex;
    justify-content: flex-start;
    .btn-disabled{
      filter: brightness(75%);
      &:hover {
        filter: brightness(75%);
        cursor: wait;
      }
    }
  }

}

@media screen and (max-width: 1330px) {
  .btn-download-zip-container {
    justify-content: center !important;
    padding: 0 2em !important;
  }
}

@media screen and (max-width: 1148px) {
  .tab {
    font-size: 12px !important;
    margin: 0px 1px !important;
  }
}

@media screen and (max-width: 1045px) {
  .tab {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 976px) {
  .tab {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 480px) {
  .tab {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 440px) {
  .tab {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 405px) {
  .tab {
    padding: 6px 12px !important;
  }
}

@media screen and (max-width: 380px) {
  .btn-download-zip-container {
    padding: 0 1.5em !important;
  }
}

@media screen and (max-width: 370px) {
  .tab {
    font-size: 8px !important;
  }
}

@media screen and (max-width: 330px) {
  .tab {
    padding: 4px 8px !important;
  }
}

@media screen and (max-width: 300px) {
  .tab {
    font-size: 7px !important;
  }
}

@media screen and (max-width: 281px) {
  .tab {
    padding: 2px 4px !important;
    margin: 0 0;
    font-size: 6px !important;
  }
}
